/* 이렇게 해놓고 개발시작하면 편하다 */
div {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

div, input, textarea {
    box-sizing: border-box;
}

td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* class 셀렉터 */
.profileName {
    text-align: center;
    font-size: 16px;
}

.content {
    text-align: center;
}

.box {
    width: 100px;
    background-color: cadetblue;
    margin: 30px;
    padding: 40px;
    border: 4px solid black;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px black;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    height: 50px;
    background: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    display: inline-block;
    vertical-align: top;
}

.right {
    width: 80%;
    height: 400px;
    background: coral;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: grey;
    clear: both;
}

.blog-content {
    width: 80;
    height: 200px;
    background: #eee;
    float: left;
}

.blog-img {
    width: 20%;
    height: 200px;
    background: yellow;
    float: left;
}

.blog-profile {
    width: 50px;
}

.blog-name {
    float: left;
}

.navbar li {
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../Image/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
}

.main-title {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

.main-paragraph {
    font-size: 20px;
    text-align: center;
    color: white;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 200px;
}

.sub-background {
    width: 80%;
    max-width: 600px;
    text-align: center;
    background-color: antiquewhite;
    position: relative;
    margin: auto;
    top: -40px;
    padding: 20px;
    z-index: 5;
    box-sizing: border-box;
}

.sub-title {
    text-align: center;
    color: black;
    font-size: 30px;
}

.sub-para {
    text-align: center;
    color: black;
    font-size: 14px;
}

.text-input {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.form-background {
    background-color: black;
    padding: 30px;

}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.form-message {
    width: 100%;
    height: 100px;
}

.yellow-button {
    padding: 10px;
    display: block;
    margin-left: auto;
    background-color: yellow;
}