.alert-box {
  background: #ada8f4;
  color: #4646b4;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.yellow-bg {
  background: yellow;
}

.main-background {
  background-image: url(#);
  background-size: cover;
  color: white;
}

.black-background {
  background: grey;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  /* visibility: hidden; UI에 자국이 남음 */
  /* opacity: 0; 투명도 1로 바꾸면 보이긴 하지만 완전히 요소를 없앨 순 없음 */
  border-radius: 0px;
  transition: all 1s;
  display: block;
  transform: translateY(-1000px);
}

.white-background {
  background: white;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.nav-sub {
  display: none;
}

#email-alert {
  display: none;
}

#password-alert {
  display: none;
}

.left-menu {
  width: 150px;
  height: 100%;
  background-color: black;
  color: white;
  position: fixed;
  margin-left: -150px;
}

.slide-down {
  transform: translateY(0px);
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;

}

.slide-container {
  width: 300vw;
  transition: transform 1s;
}

.dot {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
}

.dot span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: #ccc;
}

.dot:active span {
  background: #888;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background: rgba(0,0,0,0.5);
  border: none;
  
}

.slide-next {
  position: absolute;
  top: 45%;
  right: 0;
}